*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container{
    display: flex;
    height: 100vh;
    border: 2px solid rgb(255, 255, 255);
    /* align-items: center; */
}
#left{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    justify-content: center;
}
/* 
#right{
    flex: 1;
    background-image:url('https://e-file.huawei.com/-/media/EBG/Images/SolutionV2/industry/education/banner-wap.jpg');
    background-position:bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    justify-content: center;
}
#right h1{
    color:white;
} */
img{
    padding-bottom: 3.3 rem;
}

#signup label{
    width: 100%;
    line-height: 1.3rem;
}
#signup input{
    width: 100%;
    line-height: 1.3rem;
    border: 2px solid #121131;
}
#signup{
    padding:50px;
    border: 2px solid #121131;
    border-radius: 9px;
    color: #121131;
    font-weight: 800;
}
#signup button{
    background-color: #121131;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    font-weight: 900;
    margin-top: 10px;
}
#links{
    text-align: right;
}
#links a{
    color: #121131;
    font-weight: 600;
    text-decoration: none;
}