<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img width=160 src="{{url_for('static', filename='img/blue-logo2_cropped.png')}}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Edit Profile</a>
      <a class="nav-item nav-link" href="#">Log Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>
  </div>
</nav>