{% extends "layout/base.html" %}

{% block title %}Advanced EMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<style>
nav{
    background-color:#121131;
    padding-left:40px;
    padding-right:40px;
}
.navbar-expand-lg .navbar-collapse{
  justify-content:flex-end !important;
}
.navbar-expand-lg .navbar-nav a{
  color:white !important;
}
.navbar-expand-lg .navbar-nav a:hover{
  color:white !important;
}
</style>{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}
{% include 'includes/header-without-login.html' %}
<main>
    <div class="" id="container">
        <div id="left">
            <div id="signup">
                <div id="logo">
                    
                    <h1>Create New Users!</h1>
                </div>
                <form>
                    <div>
                    <label for="role">Role</label>
                    <select name="role" id="role">
                        {% for i in roles %}
                        <option value="{{i.name}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="roll">
                    <label for="roll">Roll Number</label>
                    <input type="text" name="roll" class="roll" id="roll">
                    </div>
                    <div>
                    <label for="phone">Phone Number</label>
                    <input type="phone" name="phone" class="phone-input" id="phone">
                    </div>
                    <div>
                    <label for="name">Name</label>
                    <input type="name" name="name" class="name-input" id="name">
                    </div>
                    <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" class="email-input" id="email">
                    </div>
                    <div>
                    <label for="Password">Password</label>
                    <input type="password" name="password" class="password-input" id="password">
                    </div>
                    <button type="submit" class="primary-btn" id="btn-register">Generate User</button>
                    
                </form>
            </div>
            
        </div>
    </div>
</main>
<script>
$(document).on('click', '#btn-register', function(e){
    e.preventDefault();
    let role = $('#role').val();
    let email = $('#email').val();
    let password = $('#password').val();
    let name = $('#name').val();
    let phone = $('#phone').val();
    let roll_no=$('#roll').val();
    console.log(roll_no);
    jsondata={
      "role":role,
      "email":email,
      "password":password,
      "phone":phone,
      "name":name,
      "roll":roll_no,
    }
    // disabled the submit button
    $("#btn-register").prop("disabled", true);
    $.ajax({
      type: "POST",
      data: jsondata,
      url:"/add-new-user",
      dataType: "json",
        complete: function(resp){
          $("#btn-register").prop("disabled", false); 
          if(resp.responseText=='true'){
            if(members==1){
              alert("User Details Saved");
            }
            else{
              alert(resp.responseText);}
            }
          
          else{
            alert(resp.responseText)
          }
          // enabled the submit button
        }
      });
});
</script>

{% endblock content %}