*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container{
    display: flex;
    height: 100vh;
    border: 2px solid rgb(255, 255, 255);
    /* align-items: center; */
}
#left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    height: 100vh; 
    justify-content: center;
}

#right{
    flex: 1;
    border: 2px solid red;
}

img{
    padding-bottom: 3.3 rem;
}

#signup label{
    width: 100%;
    line-height: 1.3rem;
}
#signup input{
    width: 100%;
    line-height: 1.3rem;
}